* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* убираем скролл на body */
}

@font-face {
  font-family: 'Diodrum';
  src:
    url('../assets/fonts/DiodrumCyrillic-Extralight.woff2') format('woff2'),
    url('../assets/fonts/DiodrumCyrillic-Extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Diodrum Cyrillic';
  src:
    url('../assets/fonts/DiodrumCyrillic-Medium.woff2') format('woff2'),
    url('../assets/fonts/DiodrumCyrillic-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-gradient: linear-gradient(to right, #4e73a5, #16335f);
  --reverse-gradient: linear-gradient(to right, #16335f, #4e73a5);
  --background-color: #fffaf2;
  --text-color: #2c3e50;
  --accent-color: #ff3b30;
  --border-color: #28282957;
  --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --border-radius: 12px;
}

body {
  font-family:
    'Diodrum Cyrillic',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;

  outline: 1px solid var(--border-color);
  outline-offset: -20px;
}

.body-blur {
  background-color: #17161648;
  transition: filter 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 10;
}

.page-wrapper::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/noise.png');
  opacity: 0.9;
  pointer-events: none;
  z-index: 10001;
  mix-blend-mode: multiply;
  height: 100svh;
}

.page-wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* max-height: 1000px; */
}

header {
  text-align: center;
  height: 80px;
  margin: 20px 0;
  flex-shrink: 0;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  width: 155px;
  height: 17px;
  object-fit: contain;
}

.line {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  position: relative;
  flex-shrink: 0;
}

.line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--border-color);
  border-radius: 50px;
  filter: blur(2px);
  z-index: -1;
}

.dotted-line {
  flex-grow: 1;
  border-bottom: 2px dotted #1615315d;
  margin: 0 4px;
  min-width: 10px;
  align-self: flex-end;
  margin-bottom: 2px;
}

.dotted-line.low {
  max-width: 50px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.main-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  justify-content: center;
}

.item-list {
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.item-list-content {
  overflow-y: auto;
  min-height: 150px;
  transition: height 0.3s ease;
  overflow: hidden;
}

.item-list-content::-webkit-scrollbar {
  width: 4px;
}

.item-list-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.item-list-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.item-line {
  display: flex;
  align-items: flex-end;
  width: 100%;
  min-height: 20px;
  margin-bottom: 8px;
  transition: all 0.4s ease;
}

.item-name,
.item-quantity,
.item-price,
.gift-text,
.points-value {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.item-name {
  flex-shrink: 1;
  font-size: 19px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-quantity,
.item-price {
  flex-shrink: 0;
  white-space: nowrap;
  text-align: right;
}

.item-price {
  font-size: 19px;
  font-weight: bold;
}

.old-price {
  color: #999;
  text-decoration: line-through;
  text-decoration-color: rgba(235, 86, 86, 0.856);
  text-decoration-thickness: 2px;
  margin-right: 12px;
  transform: translateX(-100%);
  opacity: 0.8;
}

.new-price {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.price {
  font-size: 21px;
  font-weight: bold;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.new-price {
  color: #e53935;
  font-weight: bold;
}

.old-price,
.new-price,
.price {
  transition: all 0.4s ease-out;
}

.gifts-section {
  flex-shrink: 0;
  margin-bottom: 20px;
}

.points-value.updating {
  color: #ff6b00;
  font-weight: bold;
  transition: all 0.1s ease;
}

.points-changing .points-value {
  animation: pulse-number 0.1s ease;
}

@keyframes pulse-number {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.new-item {
  background-color: #16335f;
  transition: all 1s linear;
}

.gifts {
  height: 180px;
  padding: 5px 0 15px;
  display: none;
  justify-content: center;
  border-radius: var(--border-radius);
  align-items: center;
  overflow-y: hidden;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0 -100px;
}

@keyframes scaleAppear {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  70% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.gift-item,
.coupon-item {
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 140px;
  height: 100%;
  flex-shrink: 0;
  transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.gift-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.gift-item-border {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(114, 120, 180);
  border-radius: 16px;
  height: 100%;
  width: 90%;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

.gift-item:active,
.coupon-item:active {
  transform: scale(0.95) !important;
}

.gift-scale-appear {
  animation: scaleAppear 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  opacity: 0;
  transform: scale(0.2);
  transition: none !important;
}

.gift-scale-disappear {
  animation: scaleAppear 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) reverse
    forwards;
  opacity: 1;
  transform: scale(1);
  transition: none !important;
}

.gift-text {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.1;
  margin-top: 6px;
  padding: 0 5px;
}

.gift-description {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1;
  font-family: 'Diodrum';
}

.gift-icon {
  width: 50px;
  height: 50px;
  font-size: 37px;
  margin-bottom: 5px;
  margin-top: -5px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  animation: gentlePulseShake 3s ease-in-out infinite;
}

.coin-icon {
  width: 30px;
  height: 30px;
}

.select-button {
  margin-top: 8px;
  padding: 6px 12px;
  background: var(--primary-gradient);
  color: white;
  border: none;
  border-radius: 16px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: var(--shadow);
}

.select-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.select-button:active {
  transform: scale(0.95);
}

.choose-button {
  position: absolute;
  bottom: 8px;
  font-size: 11px;
  color: rgba(105, 111, 170, 0.9);
  margin-top: 8px;
  cursor: pointer;
  width: 80%;
  padding: 4px 8px;
  border-radius: 16px;
  pointer-events: none;

  border: 2px solid rgba(105, 111, 170, 0.9);
  transition: all 0.2s ease;
}

.erase-button {
  position: absolute;
  bottom: 8px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 8px;
  cursor: pointer;
  width: 80%;
  pointer-events: none;
  padding: 4px 8px;
  border-radius: 16px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  transition: all 0.2s ease;
}

.erase-button:hover {
  background: rgba(255, 255, 255, 0.3);
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border-radius: var(--border-radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 10001;
  opacity: 0;
  transform: translateY(-10px) scale(0.95);
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.active {
  opacity: 1;
  transform: translateY(5px) scale(1);
  pointer-events: all;
}

.dropdown-item {
  padding: 10px 12px;
  font-size: 12px;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  transition: all 0.2s;
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.dropdown-item:hover {
  background: var(--primary-gradient);
  color: white;
  -webkit-text-fill-color: white;
  transform: translateX(5px);
}

.dropdown-item:last-child {
  border-bottom: none;
}

.coupon-container {
  background: var(--reverse-gradient);
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  margin-top: 15px;
}

.coupon-icon {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  background: linear-gradient(to bottom, #4e73a5, var(--background-color));
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  z-index: 2;
  animation: gentlePulseShake 3s ease-in-out infinite;
}

.coupon-text {
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  text-align: center;
}

.total-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total-section img {
  width: auto;
  height: auto;
  max-width: 100%;
  display: block;
}

.account-equation {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  gap: 8px;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin: 10px 0;
  z-index: -1;
}

.equation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.points-row {
  display: flex;
  align-items: center;
  gap: 6px;
}

.points-label {
  margin-top: -7px;
  font-size: 15px;
  color: #666;
  text-align: center;
  line-height: 1.2;
}

.points-value {
  padding-bottom: 3px;
  font-size: 25px;
  font-weight: 600;
}

.operator {
  font-size: 19px;
  margin: 0 7px;
}

.points-value.final {
  font-weight: bold;
}

.banner {
  height: 250px;
  /* transform: translateY(20px); */
  width: 100%;
  z-index: 1;
  background-color: transparent;
  border-radius: var(--border-radius);
  flex-shrink: 0;
  margin-top: auto;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.banner .slide {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  position: relative;
}

.banner.showAll{
  transform: translateY(50px);
}

.banner-dots {
  display: flex;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: absolute;
  right: 18px;
  bottom: 50%;
  transform: translate(50%, 50%);
}

.banner-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner-dot.active {
  background: white;
  transform: scale(1.2);
}

@keyframes gentleShake {
  0%,
  100% {
    transform: translateX(0) rotate(0deg);
  }
  25% {
    transform: translateX(-2px) rotate(-1deg);
  }
  75% {
    transform: translateX(2px) rotate(1deg);
  }
}

@keyframes gentlePulseShake {
  0%,
  100% {
    transform: scale(1) translateX(0) rotate(0deg);
  }
  25% {
    transform: scale(1.05) translateX(-2px) rotate(-1deg);
  }
  50% {
    transform: scale(1.1) translateX(0) rotate(0deg);
  }
  75% {
    transform: scale(1.05) translateX(2px) rotate(1deg);
  }
}

.gift-item:nth-child(1) .gift-icon,
.gift-item:nth-child(1) .coupon-icon {
  animation-delay: 0s;
}
.gift-item:nth-child(2) .gift-icon,
.gift-item:nth-child(2) .coupon-icon {
  animation-delay: 0.5s;
}
.gift-item:nth-child(3) .gift-icon,
.gift-item:nth-child(3) .coupon-icon {
  animation-delay: 1s;
}

footer {
  position: relative;
}

.item-list-content {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  scrollbar-width: none;

  -ms-overflow-style: none;
}

.modal-scratch-and-win {
  position: absolute;
  height: 60%;
  width: 80%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 90000;
  padding: 1rem 2rem 2rem 2rem;
  background: linear-gradient(#171616 -150%, #141414);
  border: 0.2rem solid var(--yellow-light);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0.2rem 0.2rem 1rem 0 rgba(0, 0, 56, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  isolation: isolate;
  align-items: center;
}

.modal-scratch-and-win.gift-scale-appear {
  animation: scaleAppear 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.2);
  transition: none !important;
}

.modal-scratch-and-win.gift-scale-disappear {
  animation: scaleAppear 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) reverse
    forwards;
  opacity: 1;
  transform: scale(1);
  transition: none !important;
}

.modal-choose-good {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.good-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
}

.good-item {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.good-item:hover {
  background-color: #f5f5f5;
}

.good-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.good-description {
  color: #666;
  font-size: 14px;
}

.good-image {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
}
